*{
  margin: 0;
  padding: 0;
   box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
 

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  background-image: url(/static/images/structures.jpg);
  background-position: center;
  background-size: cover;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-01{
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
header .header-01 h1{
  color: wheat;
}
header .header-01 h1 span{
  color: white !important;
}
header .logo{
  position: relative;
  max-width: 80px;
}
header ul{
  position: relative;
  display: flex;
  margin-right: 2rem;
}
header ul li{
  list-style: none;
}
header ul li a{
  display: inline-block;
  color: white;
  font-weight: 600;
  margin-left: 40px;
  text-decoration: none;
  padding: 0.2rem;
  font-size: large;
}
header ul li a:hover{
  color: #ffbb55;
}
header ul li a.active{
  color: #ffbb55;
}
p span{
  font-weight: 600;
  color: wheat;
}
.content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox{
  position: relative;
  max-width: 600px;
}
.content .textBox h2{
  color: white;
  font-size: 4em;
  line-height: 1em;
  font-weight: 500;
}
.content .textBox h2 span{
color: #ffbb55;
font-size: 1.2em;
font-weight: 900;
}
.content .textBox p{
  margin-top: 1rem;
  margin-left: 5px;
  color:white ;
  font-size: 1.2rem;
}
.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #ffbb55;
  color: #fff;
  border-radius: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .textBox a:hover{
  background: rgb(32, 60, 107);

}
.content .imgBox{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 41px ;
  margin-top: 35px;
}
.content .imgBox img{
  max-width: 340px;
}
@media screen and (max-width: 768px) {
  .content .imgBox img{
    max-width: 100px;
  }
}

@media screen and (max-width: 1220px) {
  .content .imgBox img{
    max-width: 220px;
  }
}