{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>UGEL - CHANGE PASSWORD</title>
{% endblock %}

{% block body %}
<h1 id="topic">Change User Password</h1>
<div class="container">
    <header>Change Password:</header>

    <form action="#" method="post">
            <div class="form first">
                <div class="details personal">
                    <div class="fields">
                        <div class="input-field">
                            <label>Old Password</label>
                            <input name="old" type="password" placeholder="Enter old password" required>
                        </div>
                        <div class="input-field" >
                            <label>New Password</label>
                            <input name="new" type="password" placeholder="Enter new password" required>
                        </div>

                        <div class="input-field">
                            <label>Confirm New</label>
                            <input name="confirm_new" type="password" placeholder="Confirm new password" required>
                        </div>
                    </div>                        
                    <button class="sumbit" type="submit">
                        <span class="btnText">Change Password</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div> 
    </form>
</div>
<script>
    const icons = document.querySelector(".dash-icon");
    icons.classList.add("active")
</script>
{% endblock %}
