<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FORGOT PASSWORD</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/forgotpassword.css')}}">
</head>
<body>
  <div class="wrapper">
    <div class="logo"> <img src="{{url_for('static', filename='images/logo.png')}}">
      <h3 id="logo">UGEL <br> <span id="warning">HALL MANAGEMENT SYSTEM</span></h3>
    </div>
    <h1 class="label">Forgot Password?</h1>
    <div class="display-message">
          {% if message %}
          <ul>
            <li>{{ message }}</li>
          </ul>
        {% endif %}
    </div>
    <br>
  <form method="post" name="login" action="/forgotpassword">
      <div class="field email">
        <div class="input-area">
          <input type="text" name="email" placeholder="Enter your email">
          <i class="icon fas fa-envelope"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
      </div>
      <input type="submit" value="Reset Password">
    </form>
  </div>
  <!-- <script src="{{url_for('static', filename='js/Login.js')}}"></script> -->
</body>
</html>