<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RESET PASSWORD</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/Login.css')}}">
</head>
<body>
  <div class="wrapper">
    <div class="logo"> <img src="{{url_for('static', filename='images/logo.png')}}">
      <h3 id="logo">UGEL <br> <span id="warning">HALL MANAGEMENT SYSTEM</span></h3>
    </div>
    <h1 class="label">Reset Password</h1>
    <!-- <div class="display-message">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
    </div>
    <br> -->
  <form method="post" name="resetpassword" action="#">
      <div class="field password">
        <div class="input-area">
          <input type="text" name="password" placeholder="Enter New Password">
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">Email can't be blank</div>
      </div>
      <div class="field password">
        <div class="input-area">
          <input type="password" name="password2" placeholder="Confirm Password">
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">Password can't be blank</div>
      </div>
      <input type="submit" value="Reset Password">
    </form>
  </div>
  <!-- <script src="{{url_for('static', filename='js/Login.js')}}"></script> -->
</body>
</html>>