{% extends 'base.html' %}

{% block head %}
<title>
    System Logs
</title>
{% endblock %}

{% block body %} 
    <h1 id="topic">SYSTEM LOGS</h1>
    <div class="tickets">
        {% if Activity|length < 1 %}
        <h3 style="text-align: center; color: #7d8da1;" >System Haven't Logged Any Activities Yet!</h3>
        {% else %}
       <table>
        <thead>
            <tr>
                <th>Doer</th>
                <th>Event</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for Activities in Activity %}
            <tr>
                <td>{{Activities.doer}}</td>
                <td>{{Activities.event}}</td>
                <td>{{Activities.date_of_event.strftime('%d-%m-%Y %H:%M:%S')}}</td>
            </tr>
            {% endfor %}
        </tbody>
       </table>
       {% endif %}
    </div>
    <script>
        const icons = document.querySelector(".tickets-icon");
        icons.classList.add("active")
    </script>
{% endblock %}